body {
    background-color: rgb(233, 233, 233);
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

/*container*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*intro*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("./img/image\ 4.jpg") center no-repeat;
    background-size: cover;

}

/*содержимое интро*/
.intro_title {
    font-size: 128px;
    font-family: 'Cormorant Upright', serif;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5px;
}

.intro_title_1 {
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-top: 5px;
}

/*header*/
.header {
    width: 1440px;
    height: 95px;
    background-color: #000000;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/*header logo*/
.header_logo {
    font-size: 32px;
    color: #fff;
    font-weight: 400;
    padding-top: 32px;
    padding-bottom: 33px;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*menu buttons*/
.nav {
    padding-top: 47px;
    padding-bottom: 28px;
    font-size: 16px;
    font-weight: 400;
}

.menu {
    vertical-align: top;
    margin-left: 67px;
    color: #fff;
    text-decoration: none;
}

.menu:hover {
    color: red;
    text-decoration: underline;
}

/*2й блок*/
.section {
    padding-top: 96px;
    padding-bottom: 110px;
    background-color: #ffffff;
}

/*заголовки к картинкам*/
.section_header {
    position: absolute;
    bottom: 16px;
    left: 86px;
    z-index: 1;
    width: 100%;
    max-width: 1029px;
    font-size: 24px;
    font-weight: 500;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

/*картиночьки*/
.cookie_header {
    position: relative;
}

.cookies {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.cookie {
    width: 377px;
    height: 314px;
}

.z1 {
    background: url("./img/Rectangle\ 13.jpg") no-repeat;
    background-size: cover;
}

.z2 {
    background: url("./img/Rectangle\ 14.jpg") no-repeat;
    background-size: cover;
}

.z3 {
    background: url("./img/Rectangle\ 12.jpg") no-repeat;
    background-size: cover;
}

.rectangles {
    position: absolute;
    bottom: -35px;
    left: 21px;
    right: 21px;
    max-width: 100%;
    width: 1157px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.rectangle {
    width: 334px;
    height: 136px;
    background-color: #000;
}

.rectangle:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: red;
}

/*подпись под картинками*/
.description {
    width: 966px;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    padding-top: 138px;

}

.sub_description {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 6px;
}

/*третий блок*/
.aboutus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 650px;
    background: url("./img/Mask\ group.jpg") no-repeat;
    background-size: cover;
}

.container_01 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 875px;
    height: 571px;
    background: url("./img/Group\ 3.jpg") no-repeat;
    background-size: cover;
    text-align: center;
}

.innertext {
    padding-top: 165px;
    width: 100%;
    max-width: 676px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 177px;
}

.aboutus_title {
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 13px;
}

/*4й блок*/
.section_2 {
    background-color: #ffffff;
}

.description_2 {
    width: 100%;
    max-width: 530px;
    margin: 0 auto;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 89px;
}

.sub_description_2 {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 22px;
}

.ssub {
    margin-bottom: 41px;
}

.button {
    display: inline-block;
    vertical-align: top;
    padding: 6px 54px;
    font-size: 32px;
    font-weight: 600;
    border-radius: 30px;
    border: 2px solid #000;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background: #000000;
    color: #ff0000;
}

/*футер*/
.section_3 {
    background-color: #000000;
    width: 100%;
    height: 500px;
}

.footer_inner {
    padding-top: 83px;
    position: relative;
    padding-bottom: 82px;
}

.footer_title {
    position: absolute;
    z-index: 1;
    color: white;
    display: flex;
    font-size: 32px;
    font-weight: 400;
}

.footer_title11 {
    position: absolute;
    left: 299px;
    z-index: 1;
    color: white;
    display: flex;
    font-size: 32px;
    font-weight: 400;
}

.footer_title1 {
    position: absolute;
    right: 0;
    color: white;
    font-size: 32px;
    font-weight: 600;
    right: 0;
}

.footerblocks {
    display: flex;
    font-size: 20px;
    font-weight: 400;
}

.footer_description {
    color: white;
    position: absolute;
    margin-top: 78px;
    line-height: 2;
}

.footer_description1 {
    color: white;
    position: absolute;
    left: 299px;
    margin-top: 78px;
    line-height: 1.5;
}

.footer_description2 {
    color: white;
    position: absolute;
    left: 299px;
    margin-top: 171px;
    line-height: 1.5;
}

.footer_description3 {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    margin-top: 315px;
}

.footer_description4 {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    right: 17px;
    margin-top: 279px;
}

.ava {
    position: absolute;
    right: 17px;
    margin-top: 66px;
    width: 178px;
    height: 178px;
    background: url(./img/Ellipse1.jpg);
}

.ava:hover {
    cursor: pointer;
    background-color: #000;
    opacity: 70%;
    transform: scale(1.05);
}